.countdown-area {
    font-size: 2.3em;
    font-weight: 300;
    @media only screen and (min-width: 420px) and (max-width: 767px) {
        font-size: 3.3em;
    }
    @media only screen and (min-width: 768px) {
        font-size: 5em;
    }
    .countdown-time {
        text-transform: uppercase;
        margin-top: -.5em;
        font-size: .3em;
        display: block;
    }
}
