.footer-area {
    border-top: 1px solid $nav_bg_pop;
    border-bottom: 1px solid $nav_bg_pop;
    background: #0D1114;
    margin-bottom: 2px;
    .disclaimer{
    	color: #2F475F;
    	font-size: .5em;
    	width: 80%;
    	margin: 0 auto;
    	padding-bottom: 2em;
    }
}

.footer-area .credits {
    text-transform: uppercase;
    font-size: .8em;
    color: #2F475F;
    a:hover{
    	text-decoration: none;
    	color: $kuspawhite;
    }
}
