.footer-area {
    border-top: 1px solid $nav_bg_pop;
    border-bottom: 1px solid $nav_bg_pop;
    background: #0D1114;
    margin-bottom: 2px;
}

.footer-area .credits {
    text-transform: uppercase;
    font-size: .8em;
    color: #2F475F;
    a:hover{
    	text-decoration: none;
    	color: $kuspawhite;
    }
}
