.kiev-header {
    background: url(images/bg_header.png) no-repeat center 55%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
