.main-navigation {
    background: $nav_bg;
    border-top: 1px solid $nav_bg_pop;
    border-bottom: 1px solid $nav_bg_pop;
    box-shadow: 0 12px 10px 10px #000;
    font-size: 1.3em;
    display: none;
    @media only screen and (min-width: 996px) {
        display: block;
    }
}

.main-navigation ul li {
    margin: 0 2em;
    text-transform: uppercase;
}

.main-navigation ul li:last-child {
    margin: 0 0;
    border-left: 1px solid $nav_bg_pop;
    padding: 0 3em 0 4em;
}

.main-navigation ul li:nth-child(4) {
    margin-right: 4em;
}

.main-navigation ul li a {
    color: $maskuspawhite;
    letter-spacing: .2em;
    font-size: .6em;
    @media only screen and (min-width: 768px) {
        font-size: .8em;
    }
    &:hover, &:focus{
        text-decoration: none;
        color: #1789B5;
        transition: .5s;
    }
}
