.venue-area {
    text-transform: uppercase;
    background: url(images/bg_venue.png) no-repeat center 55%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.venue-area h2 {
    font-size: 2.4em;
}
