/* TYPOGRAPHY */
body {
    color: #fff;
}
.accent {
    color: #1789B5;
}

/* HEADER */

.kiev-header {
    background: url(images/bg_header.png) no-repeat center 55%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.countdown-area {
    font-size: 5em;
}

.countdown-area .countdown-time {
    font-size: .3em;
    display: block;
}

/* NAVIGATION */
.main-navigation {
    background: #0D1114;
    border: 1px solid ##1F2E36;
    box-shadow: 0 0 0 1px #1d262d;
    font-size: 1.3em;
}

.main-navigation ul li {
    margin: 0 5em;
    text-transform: uppercase;
}

.main-navigation ul li:last-child:before {
    border-left: 1px solid red;
}

.main-navigation ul li a {
    color: #fff;
}


/* PRIZE POOL */

.prize-pool-area {
    background: #0F161B;
    text-transform: uppercase;
}


/* VENUE */

.venue-area {
    text-transform: uppercase;
    background: url(images/bg_venue.png) no-repeat center 55%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.venue-area h2 {
    font-size: 2.4em;
}


/* TEAM LIST */

.team-list {
    background: #0B1822;
}

.team-list .team-image {
    width: 85%;
    margin: 0 auto;
    background: #071119;
    border: 2px solid #294A58;
}

.team-list .team-container small {
    font-size: .9em;
    text-transform: uppercase;
}

.team-list .team-header {
    margin: 0 auto;
}


/* TICKETS */

.tickets-area {
    background: linear-gradient(
      rgba(0, 5, 20, 0.65),
      rgba(0, 5, 20, 0.45)
    ), url(images/bg_tickets.png) no-repeat center 55%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.tickets-area p {
    font-size: 1.2em;
}

.sponsors-area {
    background: #0F161B;
}

/* FOOTER */
.footer-area {
    background: #0D1114;
}

.footer-area .credits {
    text-transform: uppercase;
    font-size: 1.1em;
    color: #2F475F;
}
