<!doctype html>
<html class="no-js">

<head>
  <meta charset="utf-8">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <title>Frontend Starter Kit</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <link rel="shortcut icon" href="/favicon.ico">
  <!-- bower:css -->
  <!-- endbower -->

  <!-- CSS File -->
  <link rel="stylesheet" href="static/css/main.css">
</head>
<body>

  {% block body %}
  {% endblock body %}


  <!-- Javascript Files -->
  <!-- bower:js -->
  <script src="../bower_components/jquery/dist/jquery.js"></script>
  <script src="../bower_components/tether/dist/js/tether.js"></script>
  <script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <!-- endbower -->
</body>
</html>
